*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo{
    font-size: 2.5rem; /* Define o tamanho da fonte como 2.5rem (2.5 vezes o tamanho da fonte raiz do documento, geralmente 16px, resultando em 40px) */
    color: #333;   /* Define a cor do texto  */
    text-align: center;   /* Alinha o texto ao centro horizontalmente */
    margin: 20px 0;    /*  Adiciona margem de 20px acima e abaixo do elemento (superior/inferior), e 0px nas laterais (esquerda/direita) */
} 

.paragrafo{
    margin-top: 50px;    /*  Adiciona margem de 50px acima do elemento */
    padding-left: 10px;    /*  Adiciona preenchimento de 10px à esquerda do elemento */
    font-size: 30px;   /* Define o tamanho da fonte como 30px */
    color: #666;    /* Define a cor do texto */
} 

.menu{
    display: flex;    /* Transforma o elemento em um container flexível (flex container), permitindo que seus filhos sejam organizados de forma flexível usando o modelo de layout Flexbox */
    align-items: center;     /* Alinha os itens no centro do eixo transversal (verticalmente, se o eixo principal for horizontal) */
    justify-content: space-between;    /* Distribui os itens com espaço igual entre eles ao longo do eixo principal (horizontalmente, se o eixo principal for horizontal) */
}

.form{
    display: grid;     /* Transforma o elemento em um container de grade (grid container), permitindo que seus filhos sejam organizados em um layout de grade bidimensional */
}


/* Unidade de Medida
● px (pixels)
● % (porcentagem)
● rem
● em
● entre outros */

/* BOX MODEL
1. Elemento é considerado como uma caixa retangular.
Dividido em quatro áreas:
Conteúdo (content);
Preenchimento (padding);
Borda (border);
Margem (margin).
Abrir site e verificar no navegador */

/* propriedades para controlar o posicionamento:
position;
top;
right;
bottom;
left; e
z-index. */

/* Texto e Tipografia
● color
● text-decoration
● font-family;
● font-size;
● font-weight;
● font-style. */


/* background
● text-align
● width
● height
● border-radius */


/* 1. Display flex e grid
2. Estilização de texto
3. Estilização de botões
4. Estilização de inputs
5. Estilização de imagens */


/* Estilos adicionais podem ser adicionados aqui */
/* Estilos adicionais podem ser adicionados aqui */
/* Estilos adicionais podem ser adicionados aqui */